<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Marintel VTMS</title>
    <style>
      body {
        background: white;
        padding: 0;
        margin: 0;
      }
      canvas#mapArea {
        background: white;
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <select id="tileNames"></select>
    <canvas id="mapArea">ERROR: Canvas is not supported!</canvas>

    <!-- You can also require other files to run in this process -->
    <script src="./scripts/renderer.js"></script>
  </body>
</html>
